body{
 /* background-image: url("images/itit.jpeg"); */
  background-repeat: no-repeat;
  position: relative;
  top: 10px;
  height:auto;
  width: auto;
}

#header{
  background-image: url("images/idealsolutionsbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800PX, auto;
  width: 100%, auto;
  z-index: 10;
}
#img {
 position:;
 align: middle;  
}


#logo{
  height: 20%;
  width: 70%, auto;
  position: top;
}

/*  NAV BAR STYLES*/
.header {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}
.dropdown-menu{
height: auto, auto;
  width: auto, auto;
  z-index: 11;
}

#navbar {
  overflow: hidden;
 /* background-color: #333; */
 height: 30%, auto;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 10px;
  height: auto,auto;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}
/*
.dropdown-menu{
  height:auto;
  width: auto;
}
*/
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}


